body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: #1D1C24;
    background-image: url(/img/purple\ gradient.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card {
    background: #000000d0;
    border: none;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    justify-content: center;

}

.search {
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;

}



.info-display {

    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon {

    margin-left: -10px;
    height: 10%;
    width: 10%;
}

.description {

    text-transform: capitalize;
}

.temp {

    margin: 0;
    font-size: 40px;
    margin-bottom: 0;
    display:flex;
    align-items: center;
    justify-content: center;
}


button {
    margin: .5em;
    border: none;
    border-radius: 1em;
    padding: .5em 1em;
    margin: .25em;
    width: 5em;
    outline: none;
    background: #7c7c7c5b;
    color: white;
    font-size: 120%;
}

.city {

    display:flex;
    align-items: center;
    justify-content: center;
}

input.search-bar {
    border: none;
    outline: none;
    padding: .5em 1em;
    border-radius: 25px;
    background: #7c7c7c5b;
    color: white;
    font-family: inherit;
    font-size: 120%;
    width: 75%;
}


button:hover {
    background: #933DFF2b;
    cursor: pointer;
}


.video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .video-background{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-background{
        width: auto;
        height: 100%;
    }
}


